# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# YOLO model & export artifacts (otomatik indirilir)
*.pt
*.onnx
*.engine
*.tflite

# Ultralytics runs
runs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Gradio
flagged/
